
  html {
    font-family: 'Yusei Magic', sans-serif;
  }
  .container {
  text-align: center;
  padding: 50px 0;
 
}

button {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  transition: 0.3s;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 50%;
  /*margin: 2em 0;*/
  padding:2em 2em;
  /*letter-spacing: .07rem;*/
}

button:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 6px solid #b84c00;
  cursor: pointer;
  box-shadow: none;
}

.shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.fortune {
  color: red;
  font-size: 2rem;
}

body {
  background-color:  rgb(50, 228, 247);
  text-align: center;
}

h1 {
  color: #202020;
  /* text-transform: uppercase; */
  letter-spacing: -2px;
  margin-top: 0;
}

h1 span {
  display: block;
  margin: 0 0 17px 0;
  font-size: 75px;
  line-height: 80px;
  /* color: #f1ebe5; */
  color: rgb(245, 186, 206);
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}
.ouen {
  color:rgb(52, 6, 21);
}
.big{
  font-size: 2rem;
}
/* 雲ふわふわ */
#cloud {
  justify-content: space-around;
  display: flex;

}

.img_box {
  animation: img_box_9955 3s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;

}

.img_box1 {
  animation: img_box_9955 5s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
  width: 20%;
  object-fit: contain;

}

.img_box2 {
  animation: img_box_9955 2s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
  width: 20%;
  object-fit: contain;

}

@keyframes img_box_9955 {
  0% {
    transform: translateY(0)
  }

  33.33333% {
    transform: translateY(-10px)
  }

  66.66667% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(0)
  }
}

/* 雲ふわふわ 終わり*/

@media screen and (max-width: 768px){
  .container { 
    padding: 0;   
  }
  h1 span {

    margin: 0 0 17px 0;
    font-size: 66px;
    line-height: 66px;
  }
 .big {
    margin-top: 0;
}
  .shadow {
    font-size: 1.1rem;
  }
  .img_box {
   width:50%;
  
  }
}
